{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <h1>Sign Up</h1>
    <div method="POST" action="/" style="width: 40%">
        {{ wtf.quick_form(form) }}
    </div>
        <div>
            <br>
            <h1> Current Posts </h1>
            <br>
            {% for post in posts %}
            {% include '_post.html' %}
            {% endfor %}
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div> 
    </div>
</div>
        
 
{% endblock %}
